<html>

<% @comedians.each do |c| %>
  <%=c.name%>
  <%=c.age%>

  <% c.specials.each do |s|%>
  <%= s.name %>
  <% end %>
  <p>Number of Specials: <%= c.total_specials %></p>

<%end%>
  <%= @average_age %>

</html>